html,body{
    height:100%;
    font-family:Georgia;
    color:floralwhite;
    margin:0px;
}
div {
    margin: 10px;
    background-color: darkcyan;
}

#külső {
    height:100%;
    display:flex;
    flex-direction:column;
    margin:0px;
}

#kérdés_szöveg {
}

#középső {
    display:flex;
    flex-direction:row;
    flex-grow:1;
}

#válaszok {
    flex-grow:1;
    flex-shrink:1;
}

#vezérlő {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

#kép {
    overflow:hidden;
    flex-shrink:0;
    flex-grow:0;
    max-width:50%;
}

.gomb {
    padding:20px;
    width:80px;
}

.kerdes {
    padding:10px;
    
}
.kattintható{cursor:pointer;
             background-color:grey;
}
.kattintható:hover{
    background-color:darkkhaki;
    color:black;
}
.jó{
    background-color:darkolivegreen;
    color:white;
}
.rossz {
    background-color:darkred;
    color: white;
}

